.forecastTitle {
  text-align: center;
  font-size: 2rem;
  padding: 0rem 1rem 0.5rem 1rem;
}

.chartsContainer {
  display: flex;
  flex-direction: column;
}

.charts {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}