.loadingSpinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingSpinner__text {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.loadingSpinner__circle {
  width: 2rem;
  height: 2rem;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  animation: spin 1s linear infinite;

  &.dark {
    border-top-color: $primary-color;
  }

  &.light {
    border-top-color: $accent-color;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}