@use 'sass:color';

.ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-width: 20rem;
}

.li {
  list-style: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease, color 0.2s ease;
  font-family: $font-sans;
  color: $text-color;

  &:hover {
    background-color: color.adjust($secondary-color, $lightness: 30%);
    color: $dark-text-color;
  }

  &:active {
    background-color: $highlight-color;
    color: $card-background;
  }
}