.select {
  border-radius: 0.25rem;
  padding: 0.25rem;

  &.error {
    border: 4px solid red;
  }
}

.searchHistory {
  @media screen and (max-width: $small-width ) {
    display: flex;
    gap: 0.5rem;
    padding-top: 0.5rem;
    justify-content: center;
  }
}

.select__option {}