.header {
  background-color: $secondary-color;
  height: 7rem;
  display: flex;
  align-items: center;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}